
@using BlazorApp.Data

<p>
    Users : <b>@Users.Count()</b>
</p>

<br />

<ul class="list-group">
    @foreach (UserData user in Users)
    {
        <li class="list-group-item">
            <button type="button" class="btn btn-link" @onclick="(() => KickUser(user))">[Kick]</button>
            <label style="color:@_color">@user.Name</label>
        </li>
    }
</ul>

@code {
    [CascadingParameter(Name = "themsColor")]
    string _color { get; set; }

    [Parameter]
    public List<UserData> Users { get; set; }

    [Parameter]
    public EventCallback CallBackTest { get; set; }


    protected override void OnInitialized()
    {
        Users.Add(new UserData() { Name = "Rookiss" });
        Users.Add(new UserData() { Name = "Faket" });
        Users.Add(new UserData() { Name = "Deft" });
    }

    void AddUser(UserData user)
    {
        Users.Add(user);
    }

    void KickUser(UserData user)
    {
        Users.Remove(user);
        CallBackTest.InvokeAsync(null);
    }
}
