@inject BlazorApp.Data.CounterState CounteState;
@implements IDisposable
<!--implements 상속.(IDisposable 인터페이스 창이 종료될때 dispose() 실행됨 )-->

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="oi oi-list-rich" aria-hidden="true"></span> User
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="JSInterop">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JSInterop
            </NavLink>
        </li>


        
    </ul>
</div>

<div>
    <p style="color:white">counter : @CounteState.Count</p>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        CounteState.OnStateChanged += onStatechanged;
    }

    void onStatechanged()
    {
        this.StateHasChanged(); //UI갱신
    }

    void IDisposable.Dispose()
    {
        CounteState.OnStateChanged -= onStatechanged; //창이 종료될때 Action 연결 끊음
    }
}
